body{
	font-size: 10pt;
}
th{
	text-align: center;
}

td.rp{
text-align: right;
}

td{
	vertical-align: middle;
	color: black;
}

thead{
	color: black;
}
tr:hover td{
	background-color:#E6E6FA;
}

thead.biru{
	background-color:#00BFFF;
}

thead.hijau{
	background-color: #00FF7F;
}

thead.kuning{
	background-color: #FFFF00;
}

thead.merah{
	background-color: #FF0000;
}
.text-right{
	text-align: right;
}

a.dropdown-item:hover{
	color: red;
}
